@import "partials/_mq.scss";
@import "partials/_nav.scss";
@import "partials/_footer.scss";
@import "partials/_index.scss";
@import "partials/_contact.scss";
@import "partials/_team.scss";
@import "partials/_pilot.scss";
@import "partials/_impact.scss";
@import "partials/_donate.scss";

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,700,600);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'SkitchShaded';
  src: url('fonts/skitch.eot');
  src: url('fonts/skitch.eot?#iefix') format('embedded-opentype'),
  url('fonts/skitch.woff2') format('woff2'),
  url('fonts/skitch.woff') format('woff'),
  url('fonts/skitch.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Black';
  src: url('fonts/Lato-Black.eot');
  src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg#glyphicons_halflingsregular') format('svg');
}

#app {

  a {
    color: #39b6cd;

    &:hover {
      color: #1d8a9e;
      text-decoration: none;
    }
  }

  p {
    color: black;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 160%;
    @include mq($from: tablet) {
      font-size: 18px;
    }
  }

  h1 {
    color: #f9c02e;
    font-size: 40px;
    font-family: 'SkitchShaded', sans-serif;
    text-shadow: 0px 0px 30px black;
    @include mq($from: tablet) {
      font-size: 56px;
    }
  }

  h2 {
    color: #f9c02e;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    @include mq($from: tablet) {
      font-size: 44px;
    }
  }

  h3 {
    color: #1a1a1a;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
  }

  h4 {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
    text-transform: uppercase;
  }

  h5 {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .bg-yellow {
    background: #f9c02e;

    h2 {
      color: white;
    }
  }

  li {
    color: black;
    font-family: "Open Sans", sans-serif;
  }

  .banner {
    width: 100%;
    background-size: cover;
    text-align: center;

    p {
      color: white;
      font-size: 16px;
      text-shadow: 0px 0px 10px black;
      @include mq($from: tablet) {
        font-size: 22px;
      }
    }
  }
}

// BUTTONS

.btn-default {
  background: #f9c02e;
  border: 0px solid #f9c02e;
  border-radius: 4px;
  color: #121212 !important;
  font-size: 14px;
  font-family: 'Lato Black';
  font-weight: 700;
  padding: 15px 20px;
  text-transform: uppercase;
  @include mq($from: tablet) {
    font-size: 16px;
    padding: 15px 40px;
  }

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-white-outline {
  border: 3px solid white;
  color: white;

  &:hover {
    color: #121212;
  }
}

.btn-yellow-outline {
  background: white;
  border: 3px solid #f9c02e;
  color: #121212;

  &:hover {
    color: #f9c02e;
  }
}

.btn-small {
  font-size: 12px;
  padding: 10px 15px;
  @include mq($from: tablet) {
    font-size: 14px;
    padding: 10px 30px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

// OTHER

.responsive-img {
  height: auto;
  max-width: 100%;
}







.touch {
  cursor: pointer;
}

label.error {
  color: #cd4339 !important;
  line-height: 20px !important;
}


.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border: none;
}
.form-control{
  line-height: 29px;
  height: 29px;
  padding: 0 5px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-horizontal .control-label {
  padding-top: 4px;
  font-weight: bold;
  font-size: 12px;
}
.control-label-signup {
  padding-top: 7px;
  font-weight: bold;
  font-size: 9.5px;
  @include mq($from: mobile) {
    font-size:12px;
    // padding-top: 6px;
  }
}
.center {
  text-align: center;
}
.top5 {
  margin-top: 5px !important;
}
.top10 {
  margin-top: 10px;
}
.top15 {
  margin-top: 15px;
}
.top20 {
  margin-top: 20px !important;
}
.top50 {
  margin-top: 50px;
}
.top60 {
  margin-top: 60px;
}
.top70 {
  margin-top: 70px;
}
.top80 {
  margin-top: 80px;
}
.top90 {
  margin-top: 90px;
}
.top100 {
  margin-top: 100px;
}
.bottom5 {
  margin-bottom: 5px;
}
.rightpadd0 {
  padding-right: 0 !important;
}

// .topneg20{
//   margin-top: -20px;
// }
// .leftneg5{
//   margin-left: -5px;
// }
// .leftneg10{
//   margin-left: -10px !important;
// }
// .left0{
//   margin-left: 0px !important;
// }
// .left5{
//   margin-left: 5px !important;
// }
// .left10{
//   margin-left: 10px !important;
// }
// .left15{
//   margin-left: 15px;
// }
// .left20{
//   margin-left: 20px;
// }
// .left30{
//   margin-left: 30px;
// }
// .left40{
//   margin-left: 40px;
// }
// .right10{
//   margin-right: 10px !important;
// }
// .right15{
//   margin-right: 15px !important;
// }
// .right20{
//   margin-right: 20px;
// }
// .right30{
//   margin-right: 30px;
// }
// .right40{
//   margin-right: 40px;
// }
// .bottom0{
//   margin-bottom: 0;
// }

// .bottom10{
//   margin-bottom: 10px;
// }
// .bottomneg10{
//   margin-bottom: -10px !important;
// }
// .bottom15{
//   margin-bottom: 15px;
// }
// .bottom20{
//   margin-bottom: 20px;
// }
// .bottom30{
//   margin-bottom: 30px;
// }
// .bottom40{
//   margin-bottom: 40px;
// }
// .bottom50{
//   margin-bottom: 50px;
// }
// .bottom60{
//   margin-bottom: 60px;
// }
// .width90{
//   width: 90%;
// }
// .width10{
//   width: 10%;
// }
// .leftpadd0{
//   padding-left: 0 !important;
// }

// }
// .top-padd-5{
//   padding-top: 5px !important;
// }
// .top-padd-0{
//   padding-top: 0 !important;
// }
// .top-padd-50{
//   padding-top: 50 !important;
// }
// .text-center {
//   text-align: center;
// }
// .carousel-inner {
//     width: auto;
// }
// .carousel-inner > .item > img {
//   margin: 0 auto;
// }
// .carousel-left{
//   display: inline-block;
//   width: 39px;
//   height: 62px;
//   background: url('https://www.yellow-seed.org/assets/carousel_arrows_white_left.svg');
//   background-repeat: no-repeat;
//   // position: absolute;
//   top: 50%;
//   // z-index: 5;
// }
// .carousel-right{
//   display: inline-block;
//   width: 39px;
//   height: 62px;
//   background: url('https://www.yellow-seed.org/assets/carousel_arrows_white_right.svg');
//   background-repeat: no-repeat;
//   // position: absolute;
//   top: 50%;
//   /*right: 0px;*/
//   // z-index: 5;
// }
// .carousel-left-origin{
//   display: inline-block;
//   width: 39px;
//   height: 62px;
//   background: url('https://www.yellow-seed.org/assets/carousel_arrows_white_left.svg');
//   background-repeat: no-repeat;
//   -webkit-filter: drop-shadow( 0px 0px 5px #000 );
//   filter: drop-shadow( 0px 0px 5px #000 ); /* Same syntax as box-shadow */
//   position: absolute;
//   top: 50%;
//   margin-left: 20px;
// }
// .carousel-right-origin{
//   display: inline-block;
//   width: 39px;
//   height: 62px;
//   background: url('https://www.yellow-seed.org/assets/carousel_arrows_white_right.svg');
//   background-repeat: no-repeat;
//   -webkit-filter: drop-shadow( 0px 0px 5px #000 );
//   filter: drop-shadow( 0px 0px 5px #000 ); /* Same syntax as box-shadow */
//   position: absolute;
//   top: 50%;
//   margin-left: -10px;
// }
// .carousel-control.right,.carousel-control.left{
//   background-image: none;
//   margin-top: -31px;
// }
// .carousel-control.right {
//   right: 40px;
// }
//
// .carousel .item {
//   width: 100%; /*slider width*/
//   max-height: 600px; /*slider height*/
// }
// .carousel .item img {
//   width: 100%; /*img width*/
// }
// /*add some makeup*/
// .carousel .carousel-control {
//   background: none;
//   border: none;
//   /*top: 50%;*/
// }
/*full width container*/
// @media (max-width: 767px) {
//   .block {
//     margin-left: -20px;
//     margin-right: -20px;
//   }
// }
//
// @media (min-width: 970px) {
//     .col-lg-10 {
//     margin-right: auto;
//     margin-left: auto;
//     }
// }




// .hBar{
//   width: 100%;
//   height: 25px;
//   background: #efefef;
// }
// .hBar .progressBar{
//   height: 25px;
//   background: #efefef;
// }
// .capacity-number{
//   float: left;
// }
// .progressBar5{width: 5%;}
// .progressBar10{width: 10%;}
// .progressBar20{width: 20%;}
// .progressBar30{width: 30%;}
// .progressBar40{width: 40%;}
// .progressBar50{width: 50%;}
// .progressBar60{width: 60%;}
// .progressBar70{width: 70%;}
// .progressBar80{width: 80%;}
// .progressBar90{width: 90%;}
// .progressBar100{width: 100%;}
//
// .progressBarOrange{
//   background: #efefef !important;
// }
// .progressBarTip1{
//   background: #a4cd39 !important;
// }
// .progressBarTip2{
//   background: #f9c02e !important;
// }
