// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/style/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "jquery-ui";
@import "fancybox";
@import "partials/*";


.field_with_errors .message {
  display: none;
}

#judgement{
  position:fixed;
  width:100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 32px;
  border-radius:10px;
  background-color:black;
  text-align:center;
}
#reason{
  width:328px;
  padding:4px;
  margin-bottom:10px;
  border-radius:5px;
}
