<div class='container'>
<div class="col-md-9 col-sm-9">
  <div class="tab-content about-content">
    <div role="tabpanel" class="tab-pane active contact-us-page">
      <form action="/contact" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
        <h1 class='top40 col-offset-3'>Contact Us</h1>
        <p>Let us know if you have any questions, comments, or ideas of working together.
          <br>We'd love to hear from you!</p>
        <label>Name <input type="text" name="name" id="name" required="required"> </label>
        <label>Email <input type="email" name="email" id="email" required="required"> </label>
        <label>Subject <input type="text" name="subject" id="subject" required="required"> </label>
        <label>Message
                <textarea name="message" id="message" required="required"></textarea>
              </label>
        <input type="submit" name="commit" value="SEND MESSAGE" class="btn yellow-btn top20">
      </form>
    </div>
  </div>

</div>
</div>