<div id='donate'>

  <div class="donate-banner banner">
    <div class="col-lg-8 offset-lg-2">
      <h1>Invest in Equity and the Earth</h1>
      <p>Join us to design a more equitable trade system, preserve rainforests and strengthen global farming communities.</p>
    </div>
    <div class="donate-section col-12 col-sm-12">
      <div class="photo-credit">Photo by Neil Palmer (CIAT)</div>
      <div class="row">
        <p class="col-lg-8 offset-lg-2">Your financial support helps to build a new ethical, community-led trade network that levels the playing field for global farmers and protects our planet.</p>
      </div>
      <div class="row mt-1 btn-wrapper">
        <form target="_blank" id="donate-form" action="https://www.paypal.com/cgi-bin/webscr" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="sv/4OnRavXhKU7hWceRtgxr5JOEvbiv0uTqZgny1OZnYotM8jqPCaqGMt32om9kReN2NIu8ecVcH2WH1Pd7bhg==">
          <input type="hidden" name="cmd" id="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" id="hosted_button_id" value="Q8PFCNJK3PJ9W">
          <input type="submit" name="commit" value="Donate" class="donate-button btn-default">
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-yellow">
    <div class="container donation-activities">
      <div class="row">
        <div class="col-12 col-md-4 mt-4">
          <div class="img1">
          </div>
          <div class="donate-white-box">
            <div class="activity-header">Impact Tracking</div>
            <div class="activity-description">We track the impact of conscious trade on farmers and the environment.</div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-4">
          <div class="img2">
          </div>
          <div class="donate-white-box">
            <div class="activity-header">Community Projects</div>
            <div class="activity-description">We facilitate farmer-directed projects that create lasting impact.</div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-4">
          <div class="img3">
          </div>
          <div class="donate-white-box">
            <div class="activity-header">Farmer Voices</div>
            <div class="activity-description">We tell farmer stories to support the voiceless in the supply chain.</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container donate-support">
    <div class="row mt-5 mb-5">
      <div class="col-12 col-sm-5 col-lg-4 offset-lg-1">
        <img src="../../images/donate-pilot.jpg" class="pilot-img"></img>
        <p class="pilot-caption">Learn more about the <a href="#/farmer">Pilot of the “Farmer Choice Fund”</a> supporting farmer-directed impact projects.</p>
      </div>
      <div class="col-12 col-sm-7 col-lg-6">
        <h2 class="mt-2">Your donation supports:</h2>
        <ul class="mt-3">
          <li><span><strong>Farmer equity:</strong> Provides ecologically and socially conscious farmers a voice and access to trade opportunities that value their knowledge, and impact on their  land and communities. </span></li>
          <li><span><strong>Education and Stakeholder Engagement:</strong> Drives awareness of the Conscious Trade movement by educating the public on the benefits of Conscious Trade. Engages stakeholders (cacao buyers, cacao producers and NGO’s) in dialogue around how they can work together to accelerate the Conscious Trade movement.</span></li>
          <li><span><strong>Farmer Choice Fund:</strong> Operates the Farmer Choice Fund -  a powerful way to support farmer-directed projects and action towards social and environmental impact. For this fund, farmers receive an additional 10% on the price they are paid for their beans, and Yellow Seed will facilitate the fund by aiding farmers in deciding what impact is needed, setting goals and targets, and reporting on impact. </span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bg-yellow">
    <div class="container">
      <div class="row donate-partnerships">
        <div class="col-12 col-lg-9 offset-lg-1 mt-5 mb-5">
          <h2>Funding partner & sponsorship inquiries</h2>
          <p class="top20">Want to join the movement? Yellow Seed is a 501(c)(3) project of Social and Environmental Entrepreneurs (SEE), a registered public charity. We rely on grants and corporate sponsorship to sustain our work.</p>
          <p><span class="semiBold">If you are interested in supporting our work and helping us positively impact the lives of more farmers with a larger tax-deductible donation, please <a href="/contact">contact us</a>.</span> We would be excited to connect!</p>
          <p>Any donation over $10,000 will be featured on our sponsors page, acknowledged in our newsletters (with supportive social media highlights) and in our future annual reports.</p>
          <p class="semiBold">You may also send checks directly to:</p>
          <ul>
            <li>Yellow Seed</li>
            <li>c/o Social and Environmental Entrepreneurs (SEE)</li>
            <li>23532 Calabasas Road Suite A</li>
            <li>Calabasas, CA 91302</li>
          </ul>
          <p>The EIN number for Social and Environmental Entrepreneurs (SEE) is 95-4116679.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row donate-participate">
      <div class="col-12 col-md-5 col-lg-6 offset-lg1 mt-5">
        <h2>How else can I contribute?</h2>
        <p class="mt-3">Community voices, participation and support which drives the design of our platform are just as important as financial contributions. Want to learn more? <a href="#/contact">Contact us</a> directly.</p>
      </div>
      <div class="col-12 col-md-7 col-lg-5 cacao-beans-container">
        <img src="../../images/cacao-beans-pods.png" class="cacao-beans-pods img-responsive center-block"></img>
      </div>
    </div>
  </div>

  <span id="sbmarwusasv5"></span>
    <div style="visibility: hidden; position: absolute; width:100%; top: -10000px; left: 0px; right: 0px; transition: visibility 0s linear 0.3s, opacity 0.3s linear; opacity: 0;">
      <div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: #fff; opacity: 0.5;  filter: alpha(opacity=50)"></div>
      <div style="margin: 0 auto; top: 0px; left: 0px; right: 0px; position: absolute; border: 1px solid #ccc; z-index: 2000000000; background-color: #fff; overflow: hidden;"><iframe src="https://www.google.com/recaptcha/api2/bframe?hl=en&amp;v=r20170925162623&amp;k=6Le1NRsTAAAAALcfoCGML8KhFXu-qJJr9am3pPS8#ojmm4yl7pmrp" title="recaptcha challenge" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
          name="ojmm4yl7pmrp" style="width: 100%; height: 100%;"></iframe>
      </div>
    </div>
</div>
