<div id="homepage">

<div class="homepage-banner banner">
  <div class="col-xl-8 offset-xl-2">
    <h1>Join the Conscious Trade movement</h1>
    <p class='center'>Yellow Seed is a Conscious Trade Network working to make markets more transparent, accessible, and participatory. We believe our global food trade can be designed to promote greater farmer equity, ecological conservation, and community resilience.</p>
    <div class="top30">
      <a class="btn-default" href="/donate">donate now</a>
    </div>
  </div>
  <div class="oxc-link">
    <p>Looking to sell or buy Conscious Cacao? Check out Yellow Seed’s marketplace partner:</p>
    <a href="http://www.originxchange.co" target="_blank">
      <img src='/images/oxc-logo.svg' alt="Origin X Change logo"></img>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top60">
        <h2>What we do</h2>
        <div class="row">
          <div class="col-lg-12">
            <p class="top20">We are building a global Conscious Trade movement, where markets value farmers and their care of the land, and buyers know they can make a positive impact. Our work will:</p>
          </div>
        </div>
        <div class="row top30">
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/icon-track-impact.svg" alt="Impact dashboard made up of different types of graphs icon"></img>
            <h4>Track impact</h4>
          </div>
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/icon-support-projects.svg" alt="Farmers voting on farmer directed projects icon"></img>
            <h4>support farmer-driven impact projects</h4>
          </div>
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/icon-stories.svg" alt="Story book icon"></img>
            <h4>educate, engage, and tell stories</h4>
          </div>
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/icon-data-accessible.svg" alt="Data accessibility icon"></img>
            <h4>make data accessible</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

<div class="container-fluid quote-container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p><span>Conscious Trade</span> means producers, distributors and consumers are empowered to shape and improve the system together, in a way that levels the playing field for farmers, preserves rainforests, and strengthens local farming communities.</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-yellow oxc-website">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top60">
        <img src="/images/homepage-oxc-website.jpg" class="img-fluid responsive-img" alt='Origin X Change website screenshot'></img>
        <h2>Introducing Origin X Change: Yellow Seed’s marketplace partner </h2>
        <div class="row">
          <div class="col-lg-12">
            <p class="top20">Origin X Change is the Conscious Cacao Marketplace built by Yellow Seed. It is a community-driven marketplace for cacao growers, service intermediaries and buyers to connect and trade with one another. Deeply rooted in the exchange of trust, Origin X Change provides a high level of transparency for buyers, and the ability to find products that contribute to the impact they care about.</p>
            <p>Yellow Seed has partnered with Origin X Change to operate the marketplace, so it can focus on expanding the global Conscious Trade movement.</p>
            <div class="top30 btn-wrapper">
              <a class="btn-white-outline btn-default" target="_blank" href="http://www.originxchange.co">check out origin x change</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top60">
        <h2>We track the collective impact of Conscious Trade</h2>
        <div class="row">
          <div class="col-lg-12">
            <p class="top20">One of our core commitments is highlighting the impact of Conscious Trade on farmers, their communities and the environment. As the Conscious Trade network grows, Yellow Seed's visual and analytic tools aim to paint a portrait of the whole network, pointing to ways we can work better together.</p>
          </div>
        </div>
        <div class="row top30">
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/unique-varietals-icons.svg" alt="Unique varietals icons"></img>
            <h3>68</h3>
            <h5>unique varietals cultivated by the origins listed on origin x change</h5>
          </div>
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/warehouse-boxes-icon.svg" alt="Warehouse boxes icon"></img>
            <h3>68</h3>
            <h5>metric tons of cacao produced on average annually</h5>
          </div>
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/forest-conservation-icon.svg" alt="Forest conservation icon"></img>
            <h3>68</h3>
            <h5>ha. of forest protected by the origins of Yellow seed</h5>
          </div>
          <div class="col-md-3">
            <img class="impact-icon" src="../../images/food-security-icon.svg" alt="Food security icon "></img>
            <h3>68</h3>
            <h5>hectares of other crops provides food security at origin</h5>
          </div>
        </div>
        <div class="row top30 btn-wrapper">
          <a class="btn-default right20" target="_blank" href="/impact">see the impact dashboard</a>
          <a class="btn-yellow-outline btn-default" target="_blank" href="https://handbook.yellow-seed.org/impact-a-human-based-approach.html">learn more about the impact framework</a>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

<div class="container-fluid bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top80 pilot-video">
        <iframe src="https://player.vimeo.com/video/229867830" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h2 class="top30">The Farmer Choice Fund is a powerful way to support farmer-directed projects</h2>
        <p class="top20">The fund allows farmers to decide what impact is needed, helps them set goals and targets, and enables buyers to track how the prices they pay contribute to that impact. We are piloting the Farmer Choice Fund with Co-op ACCC in Peru, helping them raise $3000 to expand their unique agroforestry system, preserve biodiversity, ensure food security, and increase resilience to climate change.</p>
        <div class="top30 btn-wrapper">
          <a class="btn-white-outline btn-default" target="_self" href="/farmer">learn more about the pilot</a>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

<div class="container-fluid storytelling-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top60">
        <h2>We drive awareness of the Conscious Trade movement through education,  engagement, and storytelling</h2>
        <div class="row">
          <div class="col-lg-12">
            <p class="top20">Conscious trade is fundamentally about people and relationships. We create space for discussion, educate the public on the benefits of conscious trade and advocate for greater global participation. By making stories visible, we bring awareness to the good work being done and inspire the continued commitment to doing better.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="../../images/homepage-collaborative-trade.jpg" alt="Picture of small group working together during Collaborative Trade Accelerator"></img>
            <a href="http://blog.yellow-seed.org/category/change-accelerator/" class="header-links" target="_blank">The Collaborative Trade Accelerator</a>
            <p class="small-paragraph">The From the Ground Up Change Accelerator The Impact Hub Berkeley’s “From the Ground Up” (FtGU) is a four part, year-long program that brings together multi-stakeholder organizations working in sustainable food and agriculture to collaborate on joint initiatives.</p>
            <a class="btn-small btn-default " href="http://blog.yellow-seed.org/category/change-accelerator/" target="_blank" >learn more</a>
          </div>
          <div class="col-md-6">
            <img src="../../images/homepage-fiji.jpg" alt="Two Fijian women from Cacao Fiji with a cacao tree"></img>
            <a href="https://medium.com/conscious-cacao-stories" class="header-links" target="_blank">Conscious Cacao Stories on Medium</a>
            <p class="small-paragraph">Many brilliant people in our food system are fostering equity, ecological conservation and community resilience, while their stories go unheard. By making these stories visible, we aim to elevate awareness of the good work being done and inspire the commitment to doing better.</p>
            <a class="btn-small btn-default " href="https://medium.com/conscious-cacao-stories" target="_blank" >learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

<div class="container-fluid bg-yellow">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top60">
        <h2 class="top30">We are working to make data about Conscious Trade accessible, while also protecting farmers </h2>
        <p class="top20">Much of the data collected today in agriculture and trade is being held privately privately held for the benefit of the few rather than the many. In order to help other NGO’s, academics and policy-makers generate better decisions to support small-scale farmers across the globe, we are starting an open data initiative. Contact us if you would like to learn more, or be a part of the open data working group.</p>
        <div class="top30 btn-wrapper">
          <a class="btn-white-outline btn-default" href="/contact" target="_self">contact us</a>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>


<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top60">
        <h2>Our Partners</h2>
        <div class="row top50">
          <div class="col-md-4">
            <img class="mx-auto d-block" src="../../images/partner-logo-01.jpg" alt="FHIA logo">
          </div>
          <div class="col-md-4">
            <img class="mx-auto d-block" src="../../images/partner-logo-02.jpg" alt="Cholaca logo">
          </div>
          <div class="col-md-4">
            <img class="mx-auto d-block" src="../../images/partner-logo-03.jpg" alt="FCCI logo">
          </div>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 top40">
        <h2>Support Conscious Trade</h2>
        <p class="top20">Our aim is to design a more equitable, accessible, and participatory trade system that levels the playing field for global farmers, preserves rainforests, and builds resilient communities. We believe markets should value the unique expertise farmers bring to craft quality products and care for the communities and land where food is grown.</p>
        <div class="top30 btn-wrapper">
          <a class="btn-default" href="/donate" target="_self">donate now</a>
        </div>
      </div>
    </div>
    <div class="row top100"></div>
  </div>
</div>

</div>
