<div id="pilot">

  <div class='container-fluid light-grey-background'>
    <div class="container">
      <h2>The Farmer Choice Fund Pilot</h2>
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-10 order-2">
          <h3>
            <strong>Origin goal:</strong> Raise $3000 to expand Cooperativa Agraria Cacaotera Choba Choba (Co-op ACCC)’s unique agroforestry system, preserve biodiversity, ensure food security and increase resilience to climate change.
          </h3>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 rightpadd0">
          <img class="img-fluid responsive-img impact-icon" src="../../images/icon-increase-wages.svg" alt="Increase wages icon">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 rightpadd0">
          <img class="img-fluid responsive-img impact-icon" src="../../images/icon-access-services.svg" alt="Access services icon ">
        </div>

      </div>


      <div class="row">
        <div class="col-xs-12 col-lg-7 mt-4">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/229867830" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="col-xs-12 col-lg-5 table-bordered mt-4">
          <p class="mt-4 mb-1"><span class="donated-amount">$0</span> of $3000 goal</p>
          <div class="progress bottom30">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              <span class="sr-only">0% Complete</span>
            </div>
          </div>
          <!-- <p class="hidden">Raised by <a href="#jump-to-supporters">14 buyers and donors</a> in 1 month</p> -->
          <h3><strong>Support the Farmer Choice Fund</strong></h3>
            <p class="caption">Co-op ACCC will receive an additional 10% on the price they are paid for their beans to support this farmer-directed origin goal.</p>
          <a class="big-btn btn-default" href="http://www.originxchange.co/products/138">BUY ORIGIN'S PRODUCT</a>
          <form target="_blank" id="donate-form" action="https://www.paypal.com/cgi-bin/webscr" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="kPm5zMJiaSbelJT9twir7G3ThXEY9J9JhqDQktRMH4/6pJLKOJsWNDVLm9Zudx9+D/csstiExeo4QyjllSf9kA==">
            <input type="hidden" name="cmd" id="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" id="hosted_button_id" value="3R98VPMHC93CJ">
            <input type="submit" name="commit" value="DONATE TO THIS GOAL" class="btn-default top15 donate-bigger">
          </form>
          <div class="row mb-4">
            <div class="col-sm-6 mt-3">
              <div class="btn-wrapper">
                <a class="btn-small share-btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot&amp;picture=http%3A%2F%2Fyellow-seed-staging.s3.amazonaws.com%2Forigin_pictures%2Fpictures%2F000%2F000%2F302%2Foriginal%2FIMG_9430.jpg%3F1498732337&amp;title=Choba+Choba+Pilot&amp;caption=&amp;quote=&amp;description=Yellow+Seed+is+delighted+to+partner+with+a+new+cacao+Origin%2C+Choba+Choba+Cooperative+from+the+Alto+Huayabamba+Valley+in+Peru%2C+a+cooperative+that+strongly+highlights+the+Yellow+Seed+mission+of+Farmer+Voice%2C+Buyer+Choice.+In+the+summer+of+2017+Yellow+Seed+will+be+facilitating+a+collaborative+6+MT+shipment+of+high+quality+beans+from+this+exciting+Emerging+Origin+through+our+network+of+amazing+partners.">
                <i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</a>
              </div>
            </div>
            <div class="col-sm-6 mt-3">
              <a class="btn-small share-btn" href="https://twitter.com/home?status=%40cocreativecacao%20has%20partnered%20with%20Choba%20Choba%20for%20a%20pilot%20program%20to%20support%20farmer-directed%20agroforestry%20projects%20https%3A//www.yellow-seed.org/pilot">
              <i class="fa fa-twitter" aria-hidden="true"></i> Share on Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="top50 bottom20 header-lg">About this Pilot</div>
        <h3><strong>Farmer-Driven Leadership:  Voice and Choice</strong></h3>
        <p class="size16">Yellow Seed (YS) believes the future of food depends on a paradigm shift and collectively making positive change that goes beyond current levels of compliance. Our community is therefore committed to co-design and mindfully steward a new type
          of farmer-driven community marketplace, which facilitates new methods of cultural, financial, and agricultural exchanges, in order to amplify positive social and environmental impact. </p>
        <p class="size16">Yellow Seed promotes <a target="_blank" href="https://hand-book.yellow-seed.org/conscious-trade-101.html">Conscious Trade</a> – exchanges built upon values of transparency, agency and participation. Conscious trade means producers, distributors
          and consumers are empowered to shape and improve the system together, in a way that levels the playing field for farmers, preserves rainforests, and strengthens local farming communities. To test this theory, we have identified an
          <a target="_blank" href="https://hand-book.yellow-seed.org/emerging-origin.html">Emerging Origin</a> farmer cooperative and service partners to model these trade principles and learn from the process.
        </p>
        <p class="size16">We are delighted to partner with Cooperativa Agraria Cacaotera Choba Choba (Co-op ACCC) from the Alto Huayabamba Valley in Peru, which strongly highlights the Yellow Seed mission of Farmer Voice, Buyer Choice. The story of Co-op ACCC is unique
          while still emblematic of many farmers in Peru looking to transition away from lower-priced commodity markets to fair markets that support a better way of life – markets based on Conscious Trade.</p>
        <p class="size16">Yellow Seed’s service partner Origin X Change (OXC) will facilitate a 6 Metric Ton (MT) shipment of high quality beans and connect Co-op ACCC’s Armonia Blend to brands that share similar values - entrepreneurship, innovation and environmental
          stewardship.
        </p>
        <p class="size16">The pilot includes the launch of new marketplace features for Conscious Trade aimed to create impact in a human-based approach. This consists of letting farmers decide what impact is needed, allowing buyers and other stakeholders to track how
          the prices they pay contribute to that impact. Transparency features include a pricing wheel and supply chain visualization on the product page to help buyers track value at each step. Stories, <a target="_blank" href="/community/impact">impact metrics</a>,
          and a farmer-directed project support the awareness of what goes into a fair price and what success looks like as it is defined by communities at origin. See the “Farmer Choice Fund” below for more information. </p>
        <h4 class="top20"><strong>FARMER CHOICE FUND (FCF)</strong></h4>
        <p class="size16">The Farmer Choice Fund is a powerful way to support farmer-directed projects – action towards social and environmental impact. For this fund, farmers will receive an additional 10% on the price they are paid for their beans, direct how money
          is best spent and report on impact with the support of the associated cooperative or project partners. </p>
        <p class="size16">While project targets may vary, the Yellow Seed community can dynamically track collective progress of common metrics on the <a target="_blank" href="#/impact">impact page</a>. To learn more about the design of the framework, see the
          <a target="_blank" href="https://hand-book.yellow-seed.org/impact-a-human-based-approach.html">handbook</a>. </p>
        <p class="size16"><strong>Agroforestry and Environmental Resilience</strong></p>
        <p class="size16">For this pilot, the farmer members have democratically decided to spend the Farmer Choice Fund on the expansion of their existing agroforestry systems. In collaboration with an international NGO, high value timber species and fast-growing crops
          will be planted in order to support the continued regeneration and unique biodiversity of the area. This also allows farmers to protect their cacao harvests and diversify their sources of income.</p>
        <div class="row">
          <div class="col-md-6 mb-2">
            <img src="/images/env-benefits1.jpg" class='img-fluid responsive-img' alt='Jimmy Gonzales planting a cacao tree'></img>
          </div>
          <div class="col-md-6 mb-2">
            <img src="/images/env-benefits2.jpg" class='img-fluid responsive-img' alt='Old growth rainforest'></img>
          </div>
        </div>
        <p class="caption">Jimmy Gonzales Isminio and Co-op ACCC are committed to sustainable agroforestry practices and protecting their old growth forests.</p>
        <p class="size16">
          Co-op ACCC believes agriculture is not just about production, it is a way of life. They see this pilot as an opportunity to invite buyers to partner with them in building environmental resilience. Agroforestry is a powerful tool to preserve globally critical
          ecosystems and improve farmers’ livelihood. Specifically, this project provides the following benefits:
        </p>
        <h5 class="mb-3"><strong>Environmental Benefits:</strong></h5>
        <ul>
          <li>Preserve biodiversity and safeguard environmental health of land and surrounding UNESCO Biosphere Reserve</li>
          <li>Increase wildlife habitat</li>
          <li>Sequester carbon</li>
          <li>Promote natural fertilization while reducing soil erosion</li>
          <li>Build climate change resilience and support additional ecosystem services.</li>
        </ul>
        <h5><strong>Social Benefits:</strong></h5>
        <ul>
          <li>Ensure food security while improving the health of farmer families</li>
          <li>Increase the quality of cacao</li>
          <li>Boost crop productivity</li>
          <li>Diversify farming activities (timber, fruits)</li>
          <li>Raise income levels leading to social and livelihood benefits</li>
        </ul>
        <p class="size16">Watch <a target="_blank" href="https://www.youtube.com/watch?v=aHD3G4fXm5o">Pur Projets’ Video on Agroforestry</a> to learn more on the benefits of agroforestry or visit their <a target="_blank" href="http://www.purprojet.com/">website</a>.</p>
        <h4 class="mb-3"><strong>Buyer Partners</strong></h4>
        <p class="size16">Participating buyers will have access to the stories, messaging and impact from this fund via Yellow Seed’s press kit. Buyers will also have the option to participate more deeply in the campaign and share their unique story.
        </p>
        <p class="size16">If you’re interested in finding more about Yellow Seed’s Custom Membership Services (such as having more robust analytics, co-branded software and dashboards options, CSR data tracking/analysis/feeds, Earned-Media and Lead-Generation Reports),
          please
          <a target="_blank" href="#/contact">contact</a> Custom Membership Services.</p>
        <h4 class="mb-3"><strong>Donor Partners</strong></h4>
        <div class="size16">Foundations and donors can also contribute to this Farmer Choice Fund by
          <form target="_blank" id="link" action="https://www.paypal.com/cgi-bin/webscr" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="kPm5zMJiaSbelJT9twir7G3ThXEY9J9JhqDQktRMH4/6pJLKOJsWNDVLm9Zudx9+D/csstiExeo4QyjllSf9kA==">
            <input type="hidden" name="cmd" id="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" id="hosted_button_id" value="3R98VPMHC93CJ">
            <input type="submit" name="commit" value="making a donation." class='donate-button' id="link">
          </form>
        </div>

        <hr class="top50 bottom50">

        <div class="header-lg">Cooperativa Agraria Cacaotera Choba Choba (Co-op ACCC)</div>
        <h5><i class="fa fa-map-marker" aria-hidden="true"></i> Quillabamba, Peru</h5>
        <p class="size16">Cooperativa Agraria Cacaotera Choba Choba (Co-op ACCC) lies in the Alto Huayabamba Valley, in the heart of the upper Amazon, the birthplace of cacao itself. Its rich ecosystem is part of UNESCO‘s Biosphere Reserve “Gran Pajatén”, covering
          more than 2.4 million hectares and home of abundant animal life, a diversity of birds, mammals, fish and very unique cacao varieties. Co-op ACCC’s conservation concession actively protects 300ha within the reserve.</p>
        <p class="size16">The farmers "co-exist with nature" and practice agroforestry simply because they want to conserve the incredible forest around them and produce their cacao in harmony with nature. At the cooperative, the sense of community resilience, desire
          for self-improvement and the interest in entrepreneurship is strong. Farmers set the product price, are actively engaged with developing their business skills, and want closer relationships with buyers.</p>
        <div id="aCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid responsive-img" src="https://yellow-seed-staging.s3.amazonaws.com/origin_pictures/pictures/000/000/299/original/farmer_thumbsup.jpg?1498732279" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid responsive-img" src="https://yellow-seed-staging.s3.amazonaws.com/origin_pictures/pictures/000/000/301/original/IMG_9072.jpg?1498732317" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid responsive-img" src="https://yellow-seed-staging.s3.amazonaws.com/origin_pictures/pictures/000/000/301/original/IMG_9072.jpg?1498732317" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#aCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#aCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <p class="top10 caption">Co-op ACCC believes <em>‘equity lives in true partnership’.</em></p>

        <p class="size16">The farmers at Co-op ACCC say that their cooperative is very different than most cooperatives in Peru as there is much more participation, equality, and transparency along with a strong movement towards gender equality and a commitment to working
          hard. There is also a strong interest to train farmers on quality standards as they know it is the key to access rewarding markets and build trust with buyers and consumers.</p>
        <p class="size16">Some of the 36 farmer families cultivate medicinal plants from the Amazon, along with the cacao. Others produce forest plants and work on revegetating areas as they are strong advocates for conservation. The farmers think like business people
          and many of the families work together making a traditional chocolate drink to sell at the local markets in Juanjui and other provinces.</p>
        <div class="mt-5">
          <a class="btn-default" target="_blank" href="http://www.originxchange.co/origins/cacc">Learn more about this Origin »</a>
        </div>
        <hr class="top50 bottom50">

        <div class="header-lg">
          Products<small> (1)</small>
        </div>
        <div class="row mt-4 product-details">
          <div class="col-md-5">
            <div class="boxed-price">$7.00 - $8.00/kg USD</div>
            <img src="https://yellow-seed-staging.s3.amazonaws.com/product_pictures/pictures/000/000/280/original/Farmer2.jpg?1498656523" class="img-fluid responsive-img" alt="Farmer2">
            </img>
          </div>
          <div class="col-md-7">
            <div>
              <div class="product-name"><a href="http://www.originxchange.co/products/peruvian-armonia-harmony-blend">Peruvian Armonia (Harmony) Blend</a></div>
              <div class="product-certification">No certifications</div>
              <div class="product-availability">Stored in Hayward, CA, United States</div>
              <div class="product-amt-available">Quantity Available: 6 metric tons</div>
              <p class="caption top15">In the UNESCO Biosphere Reserve of the Alto Huayabamba Valley there are dozens of different cocoa varieties each with specific flavor profiles: jasmine, vanilla, coconut, dried fruits, citrus, coffee and more.</p>
              <p class="caption bottom30">The cacao grown by Coopera...</p>
              <a class="btn-default" href="http://www.originxchange.co/products/peruvian-armonia-harmony-blend">Learn more »</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="mt-5">
          <h3><strong>Stories Related to this Pilot</strong></h3>
        </div>
        <div class="embedly-card">
          <div class="embedly-card-hug" style="max-width: 600px; padding: 0px; position: relative; min-width: 200px; margin: 5px auto;">
            <iframe frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen="true" id="emb_fkv416" class="embedly-card" style="border: none; position: relative; visibility: visible; display: block; margin: 0px; padding: 0px; max-width: 100%; min-width: 200px;"
              height="481" width="600">
            </iframe>
            <div class="embdscl0"><a class="embd-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.fkv416.vsonmk"><i></i></a><a class="embd-twitter" href="https://twitter.com/intent/tweet?text=Meet%20Cooperativa%20Agraria%20Cacaotera%20Choba%20Choba%20-%20Conscious%20Cacao%20Stories%20-%20Medium&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.fkv416.vsonmk&amp;via=embedly"><i></i></a>
              <a class="embd-pinterest" href="https://www.pinterest.com/pin/create/button/?description=Meet%20Cooperativa%20Agraria%20Cacaotera%20Choba%20Choba%20-%20Conscious%20Cacao%20Stories%20-%20Medium&amp;media=https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F2000%2F1*2wQkSOfk0ur9734v1Tt3Qg.jpeg&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.fkv416.vsonmk"><i></i></a>
              <a class="embd-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.fkv416.vsonmk"><i></i></a><a class="embd-card"><i></i></a>
            </div>
          </div>
        </div>
        <div class="embedly-card">
          <div class="embedly-card-hug" style="max-width: 600px; padding: 0px; position: relative; min-width: 200px; margin: 5px auto;">
            <iframe frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen="true" id="emb_qm30ue" class="embedly-card" style="border: none; position: relative; visibility: visible; display: block; margin: 0px; padding: 0px; max-width: 100%; min-width: 200px;"
              height="229" width="600"></iframe>
            <div class="embdscl0"><a class="embd-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.qm30ue.vsonmk"><i></i></a><a class="embd-twitter" href="https://twitter.com/intent/tweet?text=Yellow%20Seed%20Pilot%20with%20Co-op%20ACCC%20-%20Farmer%20Voice%2C%20Buyer%20Choice&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.qm30ue.vsonmk&amp;via=embedly"><i></i></a>
              <a class="embd-pinterest" href="https://www.pinterest.com/pin/create/button/?description=Yellow%20Seed%20Pilot%20with%20Co-op%20ACCC%20-%20Farmer%20Voice%2C%20Buyer%20Choice&amp;media=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F650290431.jpg%3Fmw%3D1920%26mh%3D1080%26q%3D70&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.qm30ue.vsonmk"><i></i></a>
              <a class="embd-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.qm30ue.vsonmk"><i></i></a><a class="embd-card"><i></i></a>
            </div>
          </div>
        </div>
        <div class="embedly-card">
          <div class="embedly-card-hug" style="max-width: 600px; padding: 0px; position: relative; min-width: 200px; margin: 5px auto;">
            <iframe frameborder="0" scrolling="no" allowtransparency="true" allowfullscreen="true" id="emb_0dnl23" class="embedly-card" style="border: none; position: relative; visibility: visible; display: block; margin: 0px; padding: 0px; max-width: 100%; min-width: 200px;"
              height="228" width="600"></iframe>
            <div class="embdscl0"><a class="embd-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.0dnl23.vsonmk"><i></i></a><a class="embd-twitter" href="https://twitter.com/intent/tweet?text=AGROFORESTRY%20(Eng)&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.0dnl23.vsonmk&amp;via=embedly"><i></i></a>
              <a class="embd-pinterest" href="https://www.pinterest.com/pin/create/button/?description=AGROFORESTRY%20(Eng)&amp;media=https%3A%2F%2Fi.ytimg.com%2Fvi%2FaHD3G4fXm5o%2Fhqdefault.jpg&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.0dnl23.vsonmk"><i></i></a>
              <a class="embd-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.yellow-seed.org%2Fpilot%23e.0dnl23.vsonmk"><i></i></a><a class="embd-card"><i></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
