<div id="team">

  <div class="team-banner banner">
    <h1>Team</h1>
    <div class="col-xs-12 col-md-8 offset-md-2">
      <p>“Individually, we are one drop. Together, we are an ocean.” –Ryunosuke Satoro.</p>
    </div>
  </div>

  <div class='container'>
    <div class="col-md-10 offset-md-1 top60">

      <h2>Who we are</h2>
      <p>A love of chocolate and a commitment to enhance the livelihoods of small-scale farmers brought the Yellow Seed team together. Since then we have been guided by the belief that the collective is wiser than the individual. Yellow Seed staff and advisors include sustainable MBA graduates, international trade and development specialists, sourcing strategists, and conservation and humanitarian professionals. Our field team includes staff from development NGO's, agronomists, quality assurance specialists, community leaders and volunteers.</p>

      <h2 class="top30">Why we exist</h2>
      <p class="bottom60">Yellow Seed is a non-profit, impact driven enterprise. We offer practical tools to enable the emergence of conscious trade. We act as stewards, connectors and facilitators. Yellow Seed is inspired by the desire to create tangible and successful models for how humans can collaborate to become more adaptable, diverse and resilient.</p>

      <div class="row staff-member">
        <div class="col-sm-3">
          <img src="../../images/staff_nancy.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Nancy Zamierowski, MBA</h3>
          <h4>FOUNDER  <span>/  Collaboration Architect</span></h4>
          <p>Nancy feels at home in the Amazon where she developed a passion for unique rainforest edibles and improving the lives of the communities who depend on forest resources. Her work at CIAT (International Center for Tropical Agriculture) and a design background are pivotal foundations to the inspiration of Yellow Seed.</p>
          <p>
            <a target="_blank" class="email_icon_yellow" href="mailto:nancy@yellow-seed.org"></a>
            <a target="_blank" class="linkedin_icon_yellow" href="http://www.linkedin.com/in/nancyzam"></a>
            <a target="_blank" class="twitter_icon_yellow" href="https://twitter.com/idblueprint"></a>
          </p>
        </div>
      </div>

      <div class="row staff-member">
        <div class="col-sm-3">
          <img src="../../images/staff_rowan.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Rowan Oloman, MBA </h3>
          <h4>CHIEF STRATEGIST<span>  /  Clarifier</span></h4>
          <p>Rowan has spent the last eight years leading humanitarian projects overseas while working with startups focused on catalyzing renewable energy. From BC, she brings a Master's degree in Natural Resource Management, an MBA in sustainable business and an excitement to be working on a project rooted in voice and choice.</p>
          <p>
            <a target="_blank" class="email_icon_yellow" href="mailto:rowan@yellow-seed.org"></a>
            <a target="_blank" class="linkedin_icon_yellow" href="http://www.linkedin.com/pub/rowan-oloman/40/687/8ba"></a>
          </p>
        </div>
      </div>

      <div class="row staff-member">
        <div class="col-sm-3">
          <img src="../../images/staff_erika.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Erika Logie</h3>
          <h4>DESIGN <span>   /  Graphic Goddess</span></h4>
          <p>Erika is a user interface designer and front-end developer who believes in the power of design as an incredible force for positive change. A passionate world traveler, she spent three years living in the jungles of Nicaragua and recently returned from living in Chile. When she's not making things looks pretty, she can be found hula hooping, dancing or snuggling with her cats.</p>
          <p>
            <a target="_blank" class="linkedin_icon_yellow" href="http://www.linkedin.com/pub/erika-logie/7/564/3a1"></a>
            <a target="_blank" class="twitter_icon_yellow" href="https://twitter.com/erikalogie"></a>
            <a target="_blank" class="instagram_icon_yellow" href="http://instagram.com/erikalogie"></a>
          </p>
        </div>
      </div>

      <!-- <div class="row top40 staff-member">
        <div class="col-sm-3">
          <img src="../../images/staff_paul.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Paul Wand</h3>
          <h4>DESIGN &amp; FRONT-END<span>   /  Computer Wizard</span></h4>
          <p>Paul is a prolific app creator fluent in Unity3d, Virtual Reality, Vue.js Angular, Javascript, Rails, Node and Swift. He holds a B.S. in Computer Science from Grand Valley State University in Michigan. He now lives in sedona .</p>
          <p>
            <a target="_blank" class="linkedin_icon_yellow" href="https://www.linkedin.com/in/paul-wand-3b92a314"></a>
            <a target="_blank" class="personalwebsite_icon_yellow" href="http://www.17thdimension.com/"></a>
          </p>
        </div>
      </div>

      <div class="row top40 staff-member">
        <div class="col-sm-3">
          <img src="../../images/staff_rachel.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Rachel Logie</h3>
          <h4>FULL-STACK DEVELOPER</h4>
          <p>Rachel likes cats, traveling, and dancing, and aspires to be a crazy cat lady when she gets older. When she isn't covered in cats, she enjoys writing code and making fantastic web apps.   </p>
          <p>
            <a target="_blank" class="linkedin_icon_yellow" href="https://www.linkedin.com/in/rachel-logie-40021993"></a>
            <a target="_blank" class="personalwebsite_icon_yellow" href="http://rachellogie.github.io/"></a>
          </p>
        </div>
      </div> -->

      <!-- <div class="dottedYellowLine"></div> -->
<!--
      <h2>Our Advisors</h2>

      <p class="top5">We could not be where we are today without the support of these skilled experts.</p>

      <div class="top20 row staff-member">
        <div class="col-sm-3">
          <img src="../../images/advisors-greg.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Greg D'alesandre</h3>
          <h4>CHOCOLATE INDUSTRY ADVISOR</h4>
          <p>Greg has been working with chocolate for over fifteen years, and making chocolate for the last few. He started making liquid nitrogen truffles in college with "borrowed" equipment from the physics lab. He's been with Dandelion Chocolate for 3 years as partial owner and Chocolate Sourcerer, traveling the world to find great cacao to use to make great chocolate. He feels strongly about direct sourcing cacao and building strong relationships with the network of cacao producers and chocolate makers around the world. While his background is in electrical engineering and product management, he's been using these skills to help keep the factory up and running.</p>
        </div>
      </div>
      <div class="top20 row staff-member">
        <div class="col-sm-3">
          <img src="../../images/advisors-joel.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Joel Solomon</h3>
          <h4>SOCIAL IMPACT ADVISOR</h4>
          <p>Joel Solomon is Chair of Renewal Funds, Canada's largest mission venture capital firm. With $98m assets under management, Renewal Funds invests in organic food and green technology. Joel is a Senior Advisor with RSF Social Finance, founding member of Social Venture Network, Business for Social Responsibility, the Tides Canada Foundation, and Board Chair of Hollyhock.</p>
          <p>Joel is the co-author of <italic>Clean Money Revolution</italic>, a call to action to move trillions of dollars from damaging to regenerative use.</p>
        </div>
      </div>
      <div class="top20 row staff-member">
        <div class="col-sm-3">
          <img src="../../images/advisors-amy.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Amy Hartzler</h3>
          <h4>COMMUNICATIONS ADVISOR</h4>
          <p>Amy translates with and for bold visionaries who are defining new ways of being in the world, from the way we use money to create more of what we love, to eliminating nuclear weapons. Her messaging and campaigns have been covered broadly (CNN, Fox, MSNBC, Forbes, New York Times, Huffington Post) and helped spark and fuel movements on positive impact investing, local economies, consumer rights and financial security. A native Hoosier, Amy has called Washington, D.C. home through four presidential administrations. She helped to vision and brand the city’s annual Funk Parade, and collaborates with Think Local First, Made in DC, and local craft brewer DC Brau. </p>
        </div>
      </div>
      <div class="top20 row staff-member">
        <div class="col-sm-3">
          <img src="../../images/advisors-branden.jpg">
        </div>
        <div class="col-sm-9">
          <h3>Branden Barber</h3>
          <h4>ENGAGEMENT THINKING DO GOODER</h4>
          <p>Branden Barber has been on the Lorax’s team since an early life epiphany woke him from a dream. With a background in wildland fire suppression, project management, design, brand strategy, marketing, account management, inflatable driving, actions planning and execution….and fundraising, Branden continues to fight the good fight for a better world as an agent of change. Having worked as point person for fundraising at Rainforest Action Network, Amazon Watch and Bioneers, he brings experience and high-level awareness to the opportunities and vagaries of organizational management and development. He has a deep affinity for the Amazon, has worked with various indigenous peoples, believes that Nature is conscious and loves chocolate. Good chocolate. The kind of chocolate that comes from the process that Yellow Seed is bringing into play.</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
