#team {

  .team-banner {
    background: url('../../assets/images/Community_roles.jpg') no-repeat center;
    height: 380px;

    h1 {
      padding-top: 150px;
      @include mq($from: tablet) {
        padding-top: 140px;
      }
    }
  }

  .staff-member {
    margin-top: 30px;
    margin-bottom: 30px;

    img {
      border: 4px solid #efefef;
      border-radius: 100%;
      max-width: 200px;
      margin-bottom: 20px;
      width: 100%;
    }

    h3 {
      color: #333333;
      font-size: 32px;
      font-weight: 700;
      margin: 0px;
    }

    h4 {
      font-weight: 700;
      margin: 0px;
      font-size: 16px;
      color: #333333;
      line-height: 40px;

      span {
        font-weight: 400;
      }
    }

    .fa-circle {
      color: #f9c02e;
    }
  }
}
