.newsletter-archive {
  border-radius: 20px;
  background-color: white;
  padding-bottom: 30px;

  .campaign {
    padding: 6px 10px;
    border-bottom: 1px solid #eee;
    padding-left: 0;
  }
}

.solid-background {
  background-color: #f9c02e;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -60px;
}