
.is-flex {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
}

.add-end-product-background {
  background: #EFEFEF;
  margin-bottom: 30px;
  width: 100%;
  height: 191px;

  @media (min-width: 992px) and (max-width: 1199px) {
    height: 155px;
  }

  @media (min-width: 767px) and (max-width: 991px) {
    height: 183px;
  }

  #add-end-product {
    margin-top: 18%;
  }
}

.delete-link {
  line-height: 40px;
}

#add-end-product-modal {
  label {
    font-size: 12px;
  }
}