
.footer{
  background: #efefef;
  padding: 30px 0;
  margin-top: 60px;

  p {
    font-size: 14px !important;
  }

  h6 {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .footer-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
    line-height: 28px;
  }

  .h-line{
    height: 1px;
    background: #cccccc;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .fa-circle {
    color: #333333;
  }
}


.customYellowBtnSmall{
  color: #000;
  font-family: 'Lato', sans-serif;
  background: #f9c02e;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 10px;
  width: 80px;
}
.subscribeEmail{
  background: transparent;
  border: 1px solid #cccccc !important;
  padding: 4px 5px;
  position: relative;
  top: -3px;
}
.subscribe-first{
  width: 119px;
  @include mq($from: desktop) {
    width: 160px;
    margin-bottom: 5px;
  }
  @include mq($from: wide) {
    width: 119px;
    margin-bottom: 0;
  }
}
.subscribe-last{
  width: 119px;
  @include mq($from: desktop) {
    width: 160px;
    margin-bottom: 5px;
  }
  @include mq($from: wide) {
    width: 119px;
    margin-left: 5px;
    margin-bottom: 0;
  }
}
