#homepage {

  p {
    text-align: center;
  }

  h2, h3, h4, h5 {
    text-align: center;
  }

  .homepage-banner {
    background: url('../images/homepage-banner.jpg') no-repeat center;
    height: 590px;

    h1 {
      color: #f9c02e;
      font-size: 44px;
      font-family: 'SkitchShaded', sans-serif;
      padding-top: 150px;
      @include mq($from: tablet) {
        font-size: 56px;
        padding-top: 200px;
      }
    }

    p {
      color: white;
      font-size: 18px;
      padding: 0 20px 0 20px;
      text-shadow: 0px 0px 10px black;
      @include mq($from: tablet) {
        font-size: 22px;
      }
    }

    .oxc-link {
      margin-top: 30px;

      p {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        text-shadow: 0px 0px 10px black;
      }

      img {
        height: 50px;
        width: 410px;
      }
    }
  }



  .impact-icon {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .quote-container {
    background: url('../images/homepage-quote.jpg') no-repeat center;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;  /* align vertical */

    p {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      line-height: 50px;
      text-align: center;
      text-shadow: 0px 0px 10px black;
      span {
        font-weight: 500;
      }
    }
  }

  .oxc-website {
    img {
      width: 666px;
      height: 481px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .pilot-video {
    iframe {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .storytelling-section {
    img {
      width: 550px;
      height: 367px;
      margin: 30px 0 20px 0;
    }
    .header-links {
      font-size: 28px;
      font-family: 'Lato', sans-serif;
      line-height: 35px;
      text-align: center;
    }

    .small-paragraph {
      font-size: 16px;
      line-height: 26px;
      margin-top: 10px;
      margin-bottom: 30px;
      text-align: left;
    }
  }
}
