#homepage {

  a {
    color: #68c9cd;

    &:hover {
      color: #1d8a9e;
      text-decoration: none;
    }
  }


  p {
    color: black;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    text-align: center;
  }

  h2 {
    color: #f9c02e;
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  h3 {
    color: #1a1a1a;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    text-align: center;
  }

  h4 {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  h5 {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .btn-default {
    background: #f9c02e;
    border-radius: 4px;
    color: #121212;
    font-size: 16px;
    font-family: 'Lato Black';
    font-weight: 700;
    padding: 15px 40px;
    text-transform: uppercase;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  .btn-white-outline {
    border: 3px solid white;
    color: white;

    &:hover {
      color: #121212;
    }
  }

  .btn-yellow-outline {
    background: white;
    border: 3px solid #f9c02e;
    color: #121212;

    &:hover {
      color: #f9c02e;
    }
  }

  .btn-small {
    font-size: 14px;
    padding: 10px 30px;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .homepage-banner {
    background: url('../images/homepage-banner.jpg') no-repeat center;
    background-size: cover;
    margin-top: 10px;
    width: 100%;
    height: 590px;
    text-align: center;

    h1 {
      color: #f9c02e;
      font-size: 44px;
      font-family: 'SkitchShaded', sans-serif;
      padding-top: 150px;
      @include mq($from: tablet) {
        font-size: 56px;
        padding-top: 170px;
      }
    }

    p {
      color: white;
      font-size: 18px;
      padding: 0 20px 0 20px;
      text-shadow: 0px 0px 10px black;
      @include mq($from: tablet) {
        font-size: 22px;
      }
    }

    .oxc-link {
      margin-top: 30px;

      p {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        text-shadow: 0px 0px 10px black;
      }

      img {
        height: 50px;
        width: 410px;
      }
    }
  }

  .bg-yellow {
    background: #f9c02e;

    h2 {
      color: white;
    }

  }

  .impact-icon {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .quote-container {
    background: url('../images/homepage-quote.jpg') no-repeat center;
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;  /* align vertical */

    p {
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 300;
      line-height: 50px;
      text-align: center;
      text-shadow: 0px 0px 10px black;
      span {
        font-weight: 500;
      }
    }
  }

  .oxc-website {
    img {
      width: 666px;
      height: 481px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .pilot-video {
    iframe {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .storytelling-section {
    img {
      width: 550px;
      height: 367px;
      margin: 30px 0 20px 0;
    }
    .header-links {
      font-size: 28px;
      font-family: 'Lato', sans-serif;
      line-height: 35px;
      text-align: center;
    }

    .small-paragraph {
      font-size: 16px;
      line-height: 26px;
      margin-top: 10px;
      margin-bottom: 30px;
      text-align: left;
    }
  }
}
