body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #39b6cd !important;
}

a:hover {
  color: #1d8a9e;
}

h1 {
  font-family: 'SkitchShaded', sans-serif;
}

h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 44px;
  font-weight: 500;
}

button {
  font-family: 'Lato', sans-serif;
}
