.navbar {
  &-brand {
    $width: 150px;
    margin: 10px auto 10px;
    width: $width;
    float: none;
    padding: 0px;
    img {
      height: 50px;
    }
  }
  .navbar-light .navbar-nav .nav-link {
    color: #333333 !important;
    font-family: 'Lato', sans-serif !important;
  }
}
