#pilot {

  #link {
    display: inline;
    color: #39b6cd;
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
    font-size: 16px;
    line-height: 26px;
  }

  .light-grey-background {
    background-color: #fafafa;
    box-shadow: inset 0 15px 15px -10px rgba(0,0,0,0.2);
    padding: 50px 0 30px 0;
    margin-top: 10px;

  }

  strong {
    font-weight: 600;
  }

  .size16 {
    font-size: 16px;
    line-height: 26px;
  }

  .lato {
    font-family: "Lato";
  }

  .fund-description {
    font-size: 14px;
  }

  .progress {
    border-radius: 30px;
  }

  .progress-bar {
    background-color: #999999;
    width: 100%;
  }

  .progress-bar-success {
    background-color: #A4CB46;
    border-radius: 3px;
  }

  .white-background {
    background-color: white;
  }

  h2 {
    color: #333333 !important;
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-size: 24px !important;
  }

  .big-btn {
    background: #70706f;
    color: #FFF !important;
    display: block;
    font-size: 18px;
    font-weight: 700 !important;
    line-height: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .donate-bigger {
    color: white !important;
    font-size: 14px;
    width: 100%;
  }

  .donated-amount {
    font-weight: 600;
    font-size: 35px;
  }

  .share-btn {
    border: 1px solid #f9c02e;
    color: black;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 30px;
    width: 100%;

    i {
      color: #f9c02e;
    }
  }

  .header-lg {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
  }

  .header-md {
    color: #333333;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: 24px;
  }

  .environmental-benefits {
    max-width: 100%;
    height: auto;
  }

}
