#team {

  .team-banner {
    background: url('../images/Community_roles.jpg') no-repeat center;
    height: 380px;

    h1 {
      padding-top: 150px;
      @include mq($from: tablet) {
        padding-top: 140px;
      }
    }

    p {
      color: white;
      font-size: 18px;
      padding: 0 20px 0 20px;
      text-shadow: 0px 0px 10px black;
      @include mq($from: tablet) {
        font-size: 22px;
      }
    }
  }


  .staff-member {
    margin: 40px 0 40px 0;

    img {
      border: 4px solid #efefef;
      border-radius: 100%;
      max-width: 200px;
      margin-bottom: 20px;
      width: 100%;
    }

    h3 {
      font-weight: 700;
      margin: 0px;
      font-size: 32px;
      color: #333333;
    }

    h4 {
      font-weight: 700;
      margin: 0px;
      font-size: 16px;
      color: #333333;
      line-height: 40px;

      span {
        font-weight: 400;
      }
    }

  }

  // .staff-member .col-sm-9
  // .staff-member .col-sm-9
  // .staff-member .col-sm-9 h4
  // .staff-member .col-sm-9 p{
  //   font-family: 'Open Sans', sans-serif;
  //   font-size: 14px;
  //   color: #000;
  //   line-height: 24px;
  // }
  // .staff-member .col-sm-9 a{
  //   display: inline-block;
  //   margin-right: 5px;
  // }



}
