.environmental-benefits1{
  background: url('../images/env-benefits1.jpg') no-repeat bottom right;
  height:200px;
  background-size: 100%; //propotional resize
}
.environmental-benefits2{
  background: url('../images/env-benefits2.jpg') no-repeat bottom right;
  background-size: 100%; //propotional resize
  height:200px;
}
